.content {
    max-width: min(112rem, 90%);
}

#room header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#room header .buttons {
    display: flex;
}

#room header .buttons .button:nth-child(1) {
    margin-right: .8rem;
    padding: 1.6rem 3.2rem;
}

#room header .buttons .button:nth-child(1) img {
    margin-left: 1.1rem;
    width: 2rem;
    height: 2rem;
}

#room header .buttons .button:nth-child(2) {
    padding: 1.6rem 3.2rem;
}

#room header .buttons .button:nth-child(2) img {
    margin-right: 1.1rem;
    width: 2rem;
    height: 2rem;
}

#question-form h2 {
    font-family: 'poppins' sans-serif;
    font-size: 2.8rem;
    color: var(--black);
    font-weight: 700;
    margin-bottom: 2.4rem;
    line-height: 4.2rem;
}

#question-form form {
    border: .2rem solid var(--grey-blue);
    padding: 1.6rem;
    border-radius: 0 .8rem .8rem .8rem;
    margin-bottom: 1.6rem;
}

#question-form form textarea {
    resize: none;
    background: transparent;
    width: 100%;
    outline: none;
    border: none;
}

#question-form form textarea::placeholder {
    color: var(--grey-blue);
}

#question-form form footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#question-form form footer button{
    height: auto;
    line-height: 2.4rem;
    padding: .8rem 2.4rem;
}

#question-form form footer > div {
    color: var(--icons-details);
    font-family: 'poppins' sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
}

#question-form form footer > div img {
    margin-right: .9rem;
}

.question-wrapper {
    background: var(--light-blue);
    margin-bottom: .8rem;
    border-radius: 0 .8rem .8rem .8rem;
    padding: 2.4rem;
}

.question-wrapper .question-content {
    display: flex;
    width: 100%;
    align-items: flex-start;
    text-align: justify;
}

.question-wrapper .question-content .user img {
   background: var(--blue);
   clip-path: circle();
   padding: 1.4rem;
}

.question-wrapper .question-content p {
    margin-left: 1.6rem;
    word-break: break-word;
    display: flex;
    align-items: center;
    min-height: 5.5rem;
}

.question-wrapper .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.question-wrapper .actions > a {
    display: flex;
    align-items: center;
    color: var(--grey-dark);
}

.question-wrapper .actions > a > img {
    margin-right: .8rem;
}

.question-wrapper .actions > a + a {
    margin-left: 2.4rem;
}

.question-wrapper.read {
    background: var(--grey-medium);
    color: var(--icons-details);
}

.question-wrapper.read .question-content .user img {
    background: var(--grey-blue);
}

.no-questions {
    text-align: center;
    margin-top: 5.2rem;
}

.no-questions img {
    max-width: 100%;
    margin-bottom: 1.2rem;
}

.no-questions p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
}

.no-questions p + p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 1.3rem;
    line-height: 2.1rem;
    color: var(--grey-dark);

}